body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button {
    background-color: #0056b3;
}
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #f8f9fa;
    padding: 8px;
    margin-top: 8px;
    border-radius: 4px;
}

li span {
    flex: 1;
    white-space: normal;
    word-break: break-word;
}

li small {
    font-size: 12px;
    color: #666;
    
}

.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}


li input {
    width: 80%;
    padding: 4px;
}

.filters {
    display: flex;;
    gap: 5px;
    margin: 10px;
}

.filters button {
    flex: 1;
    background-color:#6c757d;
}
.filters button:hover {
    background-color: #495057;
}

#counter {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

li button {
    background: transparent;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
    width: auto;
}

li button:hover {
    transform: scale(1.2);
}

li span {
    white-space: normal;
    overflow-wrap: break-word;
}

.time {
    font-size: 12px;
    color: #777;
}


li .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}